<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iui-form</title>
    <link href="lib/dist/iui-form.css" rel="stylesheet">
  </head>
  <body>
    <main
      class="container-fluid"
      ng-app="app"
      ng-controller="TestController as test">
      
      <h1>iui-Form-Fields</h1>
      
      <h3>iui-check-box</h3>
      <iui-check-box 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-check-box>
      
      <h3>iui-auto-complete</h3>
      <iui-auto-complete 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-auto-complete>
      
      <h3>iui-date-dropdown</h3>
      <iui-date-dropdown 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-date-dropdown>
      
      <h3>iui-check-box-list</h3>
      <iui-check-box-list 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-check-box-list>
      
      <h3>iui-credit-card-text-box</h3>
      <iui-credit-card-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-credit-card-text-box>
      
      <h3>date-picker</h3>
      <iui-date-picker 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-date-picker>
      
      <h3>drop-down</h3>
      <iui-drop-down 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-drop-down>
      
      <h3>iui-email</h3>
      <iui-email 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-email>
      
      <h3>iui-label</h3>
      <iui-label 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-label>
      
      <h3>iui-multi-select</h3>
      <iui-multi-select 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-multi-select>
      
      <h3>iui-phone-text-box</h3>
      <iui-phone-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-phone-text-box>
      
      <h3>iui-social-security-number-text-box</h3>
      <iui-social-security-number-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-social-security-number-text-box>
      
      <h3>iui-radio-list</h3>
      <iui-radio-list 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-radio-list>
      
      <h3>iui-text-area</h3>
      <iui-text-area 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-text-area>
      
      <h3>iui-text-box</h3>
      <iui-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-text-box>
      
      <h3>iui-zip-text-box</h3>
      <iui-zip-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField">
      </iui-zip-text-box>
      
      <!-- Max Length Test -->
      <h3>iui-max-length</h3>
      <iui-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField"
        iui-max-length="">
      </iui-text-box>
      
      <!-- Retype Test -->
      <h3>iui-retype</h3>
      <iui-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField"
        iui-retype="">
      </iui-text-box>
      
      <!-- text Allow Degitis Test -->
      <h3>iui-text-allow-digits</h3>
      <iui-text-box 
        ng-model="test.checkbox"
        field="test.checkboxField"
        iui-text-allow-digits="">
      </iui-text-box>
    
    </main>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.2/angular.min.js"></script>

    <!-- Angular dependent scripts and modules below -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <!-- Module script -->
    <script src="lib/dist/iui-module.js"></script>

    <!-- test script -->
    <script src="script.js"></script>
    
  </body>
</html>
